<div *ngIf="auth.isAuthenticated$ | async; else simpleToolbar">
  <mat-toolbar color="primary" id="logged-in-toolbar">
    <button mat-button class="menu-button" [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{title}}</span>
    <button mat-button mat-menu class="share-button" [matMenuTriggerFor]="menu">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<ng-template #simpleToolbar>
  <mat-toolbar color="primary" id="logged-out-toolbar">
    <span class="app-title">{{title}}</span>
  </mat-toolbar>
</ng-template>

<div class="main-content mat-typography">
  <router-outlet></router-outlet>
</div>

<!-- Here is the start of the mat-menu to be used for the hamburger menu. -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/"> Your DoorBoard </button>
  <button mat-menu-item routerLink="/trash"> Discarded Notes </button>
  <button mat-menu-item (click)="goToViewerPage()"> Viewer Mode </button>
  <!--
    It would be difficult to bind to the Viewer Mode's routerLink attribute
    because we would need to bind to a function call expression. We would
    need to evaluate the function over and over, which is incredibly
    resource-intensive.
  -->
</mat-menu>

<!-- Here is the start of the mat-menu to be used for sharing. -->
<mat-menu #menu="matMenu">
  <button mat-menu-item id="copy-link" color="primary" type="button" (click)="copyURL()">
    <mat-icon>link</mat-icon>
    <span>Copy link</span>
  </button>
  <button mat-menu-item id="generate-sign-button" type="button" color="primary" (click)="openSign()">
    <mat-icon>meeting_room</mat-icon>
    <span>Door Sign</span>
  </button>
</mat-menu>
