.mat-toolbar.mat-primary {
  z-index: 1;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-title {
  font-size: large;
}

.sidenav-container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}







