.mat-toolbar {
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.menu-button-container {
  justify-self: left;
}

.app-title {
  font-size: larger;
  justify-self: center;
}

.print-button-container {
  justify-self: right;
}

.share-link-container  {
  justify-self: right;
}

.sidenav-container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}







