<nav class="navbar" *ngIf="owner">
  <h2> {{this.owner.name}} </h2>
</nav>

<div *ngIf="notes; else notesError">
  <ul class= "note-container">
    <mat-card class="note-card" *ngFor="let note of this.notes">
      <mat-card-content>
      <p>{{this.note.body}}</p>
      <div class='addDate'>
        <p matLine class="note-list-expiration-date">{{note.expireDate}}</p>
        <p matLine class="note-list-add-date">Created on {{note.addDate | date:'MMM d'}} at {{note.addDate | date:'h:mm aa'}}</p>
      </div>
    </mat-card-content>
    </mat-card>
  </ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>
